---
import "../styles/main.css";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logos--whatsapp-icon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>Float Whatsapp</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />

    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
    ></script>
  </body>
</html>
